<h1>Welcome to Rock, Paper, Scissors</h1>
  <form action="/winner">
    <div class="form-group">
      <lable for="player1">Player 1</lable>
      <input id="player1" name="player1" class="form-control" type="text">
      <lable for="player2">Player 2</lable>
      <input id="player2" name="player2" class="form-control" type="text">

    </div>
  <button type="submit" class="btn-success">Play!</button>
</form>
