<h1>Welcome to Rock, Paper, Scissors</h1>
  <form action="/winner">
    <div class="form-group">
      <lable for="winner">Choose Rock, Paper, or Scissor</lable>
      <input id="winner" name="winner" class="form-control" type="text">
    </div>
  <button type="submit" class="btn-success">Play!</button>
</form>
